@model IEnumerable<Projeto_Casa_Criancas.Models.Consultas.MatriculaGrp>

@{
    ViewData["Title"] = "AgruparMatriculaAlunoTurma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Relatório de Matrículas</h1>

<table class="table table-striped table-hover mt-4">
    <thead class="table-dark " style="position: sticky; top: 0; z-index: 1;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.aluno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.turma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtdeAluno)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.aluno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.turma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtdeAluno)
            </td>
        </tr>
}
    </tbody>
</table>
